.navbar{
    background: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 16vh;
    width: 100%;
    padding: 4px 45px;

}

// .btn{
//     font-size: 30px;
// }
