.btn{
    background-color:#142683;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    // margin: 5px 10px;
    margin-top: 25px;
    text-transform: uppercase;
    height: 45px;
}
// .null{
//     padding: 0;
// }
.btn:active{
    transform: translateY(2px);
    transform: scaleX(1.02);
}

.btn-large{
    width: 400px;
}

.btn-medium{
    width: 133px;
}
